{% extends "base.twig" %}

{% block title %}Logbook{% endblock %}

{% block content %}
    <h1>Logbook</h1>
    <p class="important">
        Welcome to my awesome logbook {{ name }}.
    </p>
    {#  Two options to display errors are currently being displayed, please note the wiget is symfony way and this below us is a custom implementation  #}
    <ul>
        {% for error in errors %}
            <li>{{ error.message }}</li>
        {% endfor %}
    </ul>

    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
